<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <base href="/" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Covercrops | UC Davis</title>
    <meta name="title" content="UC Davis Covercrops">
    <meta name="description" content="Team of interdisciplinary scientists interested in the long-term viability of California agriculture and conservation of natural resources. We have brought together our specialties in hydrology, agronomy, soil science, and economics to answer the important question: How much water do cover crops use?">
    <meta name="keywords" content="UC Davis, covercrops">
    <meta name="author" content="Leo Qiu">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="UC Davis Covercrops" />
    <meta property="og:description" content="Team of interdisciplinary scientists interested in the long-term viability of California agriculture and conservation of natural resources. We have brought together our specialties in hydrology, agronomy, soil science, and economics to answer the important question: How much water do cover crops use?" />
    <meta property="og:url" content="https://covercrops.ucdavis.edu/" />
    <meta property="og:site_name" content="UC Davis Covercrops" />
    <meta property="og:updated_time" content="2018-07-23T11:12:24+00:00" />
    <meta property="og:image" content="https://s3-us-west-1.amazonaws.com/funcflow/water_mgmt/graph-covercrop.jpg" />
    <meta property="og:image:secure_url" content="https://s3-us-west-1.amazonaws.com/funcflow/water_mgmt/graph-covercrop.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Team of interdisciplinary scientists interested in the long-term viability of California agriculture and conservation of natural resources. We have brought together our specialties in hydrology, agronomy, soil science, and economics to answer the important question: How much water do cover crops use?" />
    <meta name="twitter:title" content="UC Davis Covercrops" />
    <meta name="twitter:image" content="https://s3-us-west-1.amazonaws.com/funcflow/water_mgmt/graph-covercrop.jpg" />
</head>

<body>
    <div id="root"></div>

    <!-- Dependencies https://stackoverflow.com/questions/32070303/uncaught-referenceerror-react-is-not-defined -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/umd/react.production.min.js" integrity="sha256-r6coyN0DEl/vyKMiiB9+AjqSKO8XTdGOFjlAhSnsqxM="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.1/umd/react-dom.production.min.js" integrity="sha256-y7o/b35Jyjb19wJ//GUjm84bLl+YlmDGmnwpgZvzN+4="
        crossorigin="anonymous"></script>
</body>

</html>